.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Container {
  background-color: orange;
  width: 300px;
  padding: 5px;
}
